.toolbar
  display inline-block
  width 100%

  .right, .left
    padding(left: 0.3, right: 0.3)

  .right
    float right
  .left
    float left

  li
    float left

  li.img-container img, li a
    display inline-block
    float left

  li.img-container img
    width 2.4em * 2.5
    height 2.4em
    padding(top: 1, bottom: 1, left: 0.7)

  li a
    font-size 1
    text-transform uppercase
    font-weight bold
    letter-spacing 0.05em
    padding(all: 1.7, left: 0.7, right: 0.7)
    transition color 0.2s


