.main-header

  .menu-narrow.alpha
    button
      height 6em
      width 5em
      background transparent
      border none
      position relative
      z-index layer-menu-button
      float right

      &:before, &:after
        content ''
        display block
        height 0.3em
        width 3em
        background-color blue
        position absolute
        left 1em
        border-radius 0.3em
        transform-origin 1.4em 0.15em
        transition transform 0.1s, background-color 0.1s

      &:before
        top 2.15em
      &:after
        bottom 2.15em

body:not(.menu-open) .menu-master
  display none

.menu-master.alpha
  position fixed
  padding(top: 4.2, bottom: 1)
  top 0
  -webkit-backdrop-filter: blur(15px)
  background-color rgba(250, 250, 250, .95)
  width 100%
  height 100%
  overflow-y scroll
  -webkit-overflow-scrolling touch
  z-index layer-menu
  box-sizing border-box

  a
    display inline-block
    box-sizing border-box
    width 100%
    padding(all: 1, top: 0.6, bottom: 0.6)
    transition background-color 0.07s ease-out, color 0.07s ease-out
    &:hover
      background-color red
      color white

  .category > span
    display block
    font-weight bold
    letter-spacing 0.1em
    font-size 0.7
    text-transform uppercase
    padding(top: 2, left: 1, bottom: 0.4)

  .beta
    text-align center
    margin-bottom -1em
    li
      display inline-block
    a
      text-transform uppercase
      font-weight bold
      letter-spacing 0.1em
      padding 1
      width auto



@media (min-width 40em)
  .menu-narrow, .menu-master.alpha .menu-narrow
    display none
@media (max-width 39.9999999999em)
  .menu-wide, .menu-master.alpha .menu-wide
    display none

html.backdrop-filter .main-header .menu-master.alpha
  background-color rgba(250, 250, 250, .73)

body.menu-open
  overflow hidden

  .main-header .menu-narrow.alpha
    button:before, button:after
      background-color red
    button:before
      transform translateY(0.61em) rotate(45deg)
    button:after
      transform translateY(-0.61em) rotate(-45deg)
//.dropdown
//  float right
//  margin(right: 1)
//
//  button
//    height 3em
//    width 3em
//    background transparent
//    border none
//    position relative
//    z-index 100
//    float right
//
//    &:before, &:after
//      content ''
//      display block
//      height 0.3em
//      width 3em
//      background-color white
//      position absolute
//      left 0
//      border-radius 0.3em
//      transform-origin 1.4em 0.15em
//      transition transform 0.1s, background-color 0.1s
//
//    &:before
//      top 0.65em
//    &:after
//      bottom 0.65em
//
//  &.shown
//    button
//      position fixed
//      top 1em
//      right 1em
//    button:before, button:after
//      background-color red
//    button:before
//      transform translateY(0.65em) rotate(45deg)
//    button:after
//      transform translateY(-0.65em) rotate(-45deg)
//
//  &:not(.shown) > .menu
//    display none
//
//  .menu
//    width 100%
//    z-index 99
//    position fixed
//    top 0
//    height 100%
//    box-sizing border-box
//    right 0
//    //box-shadow 0 0.3em 2em rgba(0,0,0,0.4)
//    //border-radius 0.3em
//    background-color white
//    padding-top 1em
//    padding-bottom 1em
//    overflow-y scroll
//    -webkit-overflow-scrolling touch
//
//    a
//      display inline-block
//      box-sizing border-box
//      width 100%
//      padding(all: 1, top: 0.6, bottom: 0.6)
