// Reset
@require '../node_modules/reset.styl/index'
use_reset('meyer')
reset('all')
@require '../node_modules/nib'

// Base
@require 'base/colors'
@require 'base/mixins'
@require 'base/typography'
@require 'base/highlight'
@require 'base/inline'

// Partials
@require 'partials/*'

// Pages
@require 'pages/home'

*
  -webkit-tap-highlight-color rgba(0,0,0,0)
  outline none