blue = #7596ff
red = #ff0050
light = rgb(250, 250, 250)
dark = #232323

lightblue = lightness(blue, 80%)
lightred = lightness(red, 70%)

darkblue = lightness(blue, 65%)
darkred = lightness(red, 40%)

layer-header = 10000
layer-menu = 90
layer-menu-button = 91

menu-width = 15
