keyword = #2249d4
type = #4bbe00
punctuation = #757474
comment = #bbbaaf
string = #7596ff
literal = #2fbcb2
method = #d3004f
plain = #363636

code
  color plain

.hljs-keyword, .hljs-key
  color keyword

.hljs-type
  color type

.hljs-punctuation
  color punctuation

.hljs-comment
  color comment

.hljs-string
  color string

.hljs-literal
  color literal

.hljs-method
  color method

.hljs-literal .dart
  color plain
