p-in-rems = 1
paragraph-spacing = 1
aktiv-grotesk = 'aktiv-grotesk-std' 'Helvetica Neue' 'Helvetica' 'Arial' sans-serif
adobe-text-pro = 'adobe-text-pro' 'Adobe Text Pro' 'Minion Pro' 'Times New Roman' 'Times' serif
inconsolata = 'inconsolata' 'Inconsolata' monospace

rem(p)
  (p * p-in-rems)rem

px(p)
  (p * p-in-rems * 16)px

font-size-manual(val)
  font-size(val, raw: true)

line-height-manual(val)
  line-height(val, raw: true)

font-size(p, raw = false)
  if raw
    font-size p
  else
    font-size px(p)
    font-size rem(p)

line-height(p, raw = false)
  if raw
    line-height p
  else
    line-height px(p)
    line-height rem(p)

body
  font-family aktiv-grotesk
  font-size 0.9
  line-height 0.9

p, h1, h2, h3, h4, h5, h6
  margin(top: paragraph-spacing, bottom: paragraph-spacing)

p
  &:not(.lead)
    hyphens auto
    line-height 1.4
    font-size 1
    font-family adobe-text-pro

  &.lead
    font-size 1.3
    line-height 1.6
    font-weight 200

small
  color #999
  font-size-manual 0.8em
  font-weight 400

h1
  font-size 2.2
  line-height 2.4
  font-weight bold

h2
  font-size 1.3
  line-height 1.5
  font-weight bold

h3
  font-size 1
  line-height 1.3
  font-weight bold

h4
  line-height 1.3
  font-weight bold

h5
  font-size 0.7
  line-height 1
  text-transform uppercase
  font-weight bold
  letter-spacing 0.05em

h6
  color #999
  font-size 0.7
  letter-spacing 0.04em
  line-height 0.9

article
  padding(all: 1)
  ul, ol
    font-family adobe-text-pro
    line-height 1.3
    margin(left: 1.15)
  ul
    list-style disc
  ol
    list-style decimal

blockquote
  padding(left: 1.15)
  border-left 0.2em solid #bbb
  font-style italic

code, pre
  font-family inconsolata
  font-size 1
  line-height 1.3

pre
  margin(top: paragraph-spacing, bottom: paragraph-spacing)

em
  font-style italic

strong
  font-weight bold


